body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #FEDCDA;
  font-size: 14pt;
  position: relative;
  /* Ensure relative positioning for the body */
}

#map {
  height: 500px;
  width: 80%;
  margin: 20px auto;
  border-radius: 30px;
  border: 7px solid #FEB95C;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.logo {
  width: 350px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  padding: 10px 10px;
  color: white;
  background-color: #FEB95C;
  border: 5px solid #EA9118;
  border-radius: 30px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 1000;
  box-shadow: 3px 8px 12px #bdbdbd;
  -webkit-box-shadow: 3px 8px 12px #bdbdbd;
  -moz-box-shadow: 3px 8px 12px #bdbdbd;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #c3883c;
  border: 5px solid #a86b14;
}

.profile-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.profil,
.addprofil {
  width: 4rem;
  height: auto;
}

.addprofil {
  margin-right: 20px;
  /* Add some space between the images */
}