body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ffe8c9;
  font-size: 14pt;
}

#map {
  height: 500px;
  width: 80%;
  margin: 20px auto;
  top: 150px;
  border-radius: 30px;
  border: 7px solid #FEB95C;
  -webkit-box-shadow: 3px 8px 12px #bdbdbd;
  -moz-box-shadow: 3px 8px 12px #bdbdbd;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
}

.button {
  position: absolute;
  top: 100px; 
  padding: 10px 10px;
  color: white;
  background-color: #FEB95C;
  border: 5px solid #EA9118;
  border-radius: 30px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 1000;
  box-shadow: 3px 8px 12px #bdbdbd;
  -webkit-box-shadow: 3px 8px 12px #bdbdbd;
  -moz-box-shadow: 3px 8px 12px #bdbdbd;
}

.button:hover {
  background-color: #c3883c;
  border: 5px solid #a86b14;
}

.profil {
  width: 4rem;
  height: auto;
  position: absolute; 
  top: 20px; 
  right: 20px; 
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 1;
  z-index: -1;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.avatar {
  width: 350px;
  height: 350px;
  left: -50px;
  top: -50px;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(0px);
  animation: float 6s ease-in-out infinite;
}

.avatar img {
  width: 100%;
  height: auto;
}


.hotel {
  display: flex; /* Utiliser Flexbox pour aligner les éléments horizontalement */
  justify-content: center; /* Centrer les éléments */
  align-items: flex-start; /* Aligner les éléments en haut */
  width: 80%; /* Ajuster la largeur du conteneur */
  margin: 20px auto; /* Centrer le conteneur et ajouter de la marge */
  padding: 20px; /* Ajouter du padding pour un meilleur aspect visuel */
  border: 2px solid #FEB95C; /* Ajouter une bordure pour visualiser le conteneur */
  border-radius: 10px; /* Arrondir les coins du conteneur */
  background-color: #fff; /* Ajouter une couleur de fond */
  position: relative; /* Modifier de absolute à relative pour éviter le décalage */
  top: 150px; /* Ajuster cette valeur selon le besoin */
}

.hotel-element {
  font-size: 14px;
  width: 45%; /* Ajuster la largeur des éléments */
  padding: 10px; /* Ajouter du padding à chaque élément */
  box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
  border: 1px solid #EA9118; /* Ajouter une bordure pour visualiser les éléments */
  border-radius: 5px; /* Arrondir les coins des éléments */
  background-color: #ffe8c9; /* Ajouter une couleur de fond aux éléments */
  margin: 0 10px; /* Ajouter une marge pour espacer les éléments */
  align-self: flex-start; /* S'assurer que les éléments sont alignés en haut */
}