body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #c2e2eb;
  font-size: 14pt;
}

#map {
  height: 500px;
  width: 80%;
  margin: 20px auto;
  top: 150px;
  border-radius: 30px;
  border: 7px solid #FEB95C;
  box-shadow: 3px 8px 12px #8b8b8b;
  -webkit-box-shadow: 3px 8px 12px #8b8b8b;
  -moz-box-shadow: 3px 8px 12px #8b8b8b;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
}

.button {
  position: absolute;
  top: 100px;
  padding: 10px 10px;
  color: white;
  background-color: #FEB95C;
  border: 5px solid #EA9118;
  border-radius: 30px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 1000;
  box-shadow: 3px 8px 12px #8b8b8b;
  -webkit-box-shadow: 3px 8px 12px #8b8b8b;
  -moz-box-shadow: 3px 8px 12px #8b8b8b;
}

.button:hover {
  background-color: #c3883c;
  border: 5px solid #a86b14;
}

.profil {
  width: 4rem;
  height: auto;
  position: absolute;
  top: 20px;
  right: 20px;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 1;
  z-index: -1;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.avatar {
  width: 350px;
  height: 350px;
  left: -50px;
  top: -50px;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(0px);
  animation: float 4s ease-in-out infinite;
}

.avatar img {
  width: 100%;
  height: auto;
}

.container-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  position: relative;
  top: 150px;
  margin-bottom: 20px;
}

.hotel-element, .activite-element {
  color: white;
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #C9A2CE;
  border-radius: 20px;
  border: 7px solid #b27bba;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 300px; /* Ajustez cette hauteur selon vos besoins */
  overflow-y: auto;
  margin-bottom: 20px;
}

.hotel-element p, .activite-element p {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  color: white;
  position: absolute;
  TOP: 1200px;
}

.avatar2 {
  width: 350px;
  height: 350px;
  right: 50px;
  bottom: -50px;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(0px);
  animation: float 4s ease-in-out infinite;
}

.avatar2 img {
  width: 100%;
  height: auto;
}

.avatar3 {
  width: 350px;
  height: 350px;
  left: 30px;
  bottom: -400px;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(0px);
  animation: float 4s ease-in-out infinite;
}

.avatar3 img {
  width: 100%;
  height: auto;
}
